server:
# static port 
  port: 8001

# dynamic port
#  port:${PORT:0}

eureka:
  #for dynamic port
  #instance:
  #  instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka 

spring:
  
  application:
    name: hr-worker

  config:
    import: optional:configserver:http://localhost:8888/

  profiles:
    active: test

  #Database Configuration
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  jpa:
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console

  
  
  
