
server:
# static port 
  port: 8301

# dynamic port
#  port:${PORT:0}

eureka:
  #for dynamic port
  #instance:
  #  instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka 

spring:
  
  application:
    name: hr-oauth